//全域設定
img{
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    display: block;
}
input{
    padding: 0.3rem 0;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
}
h1,h2,h3,h4,p,a{
    color:$primary;
    line-height: 1.5;
}
