//header
.wrap{
    max-width: 1024px;
    background-color: #efe9e7;
}
.header{
    background-image: url(images/header_desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .nav-bar{
        z-index: 100;
        background: rgba(0, 0, 0, 0.75);
        padding: 0.5rem  1rem;
        position: fixed;
        max-width: 992px;
        width: 95%;
        a{
            color: $secondary;
        }
        .logo{
            background-image:url(images/logo_w@svg.svg) ;
            width: 120px;
            height: 24px;
            margin-left: 1rem;
        }
        .nav{
            a{
                padding: 1rem 2rem;
            }
            a:hover{
                color: $warning;
            } 
        }
    }
}
.container{
    height: 420px;
    .slogan{
        background: rgba(0,0,0,0.35);
        h2,p{
            color: $secondary;
        }
    }
}
/*slogan-ipad*/
@include ipad{
    .slogan{
        span{
            display: block;
            margin-bottom: 0.5rem;
        }
    }
}
//nav{
.show-menu,.close-menu{
    font-size: 2rem;
    display: none;
}
@include ipad{
    /*.show-menu 漢堡選單 效果*/
    .show-menu.active{
        display: none;
    }
    .show-menu,.close-menu.active{
        display: block;
    }
    /*.show-menu 漢堡選單 效果*/
    .header{
        max-width: 767px;
        .nav{
            display: none;
            background-color: rgba(0,0,0,0.8);
            top: 100%;
            text-align: center;
            flex-direction: column;
            position: absolute;
            left: 0;
            right: 0;
        }
    }
}
//footer
.footer{
    .footer-logo h2>a{
        background-image: url(images/logo_l@svg.svg);
        width: 243px;
        height: 48px;
    }
    .footer-contact ul li{
        color: $primary;
        list-style: disc;
        margin-left: 16px;
    }
    .footer-about,.footer-contact{
        width: 33.3333%;
    }
    .footer-social{
        .google{
            color: #DB4437;
        }
        .twitter{
            color: #41ABE1;
        }
        .facebook{
            color: #3A5795;
        }
        a{
            font-size: 36px;
            margin-left: 16px;
        }
    }
}
/*footer ipad*/
@include ipad{
    .footer{
        flex-direction: column;
        align-items: center;
        .footer-about,.footer-contact{
            width: 60%;
            text-align: left;
        }
        .footer-logo,.footer-social{
            text-align: center;
        }
        .footer-contact{
            margin: 2rem 0;
        }
    }
}
/*Scroll Top*/
.back-top{
    font-size: 3rem;
    color: #F56C23;
    position: fixed;
    right: 5%;
    bottom: 5%;
}